[submodule "openedx/features/edxplus"]
	path = openedx/features/edxplus
	url = https://alok.kumar:yjwarov5vf6e2yjbe7vesgsvo6pdw3oavhspt7wgww5aypjf26bq@manprax.visualstudio.com/DefaultCollection/BTF/_git/edxplus
	branch = release/nutmeg_tutor
