[submodule "openedx/features/edxplus"]
	path = openedx/features/edxplus
	url = https://alok.kumar:ggo6ridxandqbcbptznoxep6g5524fjwzordetnmokca7qnfixhq@manprax.visualstudio.com/DefaultCollection/BTF/_git/edxplus
	branch = release/nutmeg_tutor
