.program-list-wrapper {
  @include make-row();

  // max-width: 73.125rem;
  margin: 0 auto;

  @include media-breakpoint-up(sm) {
    padding-top: $baseline;
  }
}

.card-box{
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  line-height: 1.8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.card-outer{
  background-color: #d3dbf0;
  font-family: 'Roboto', sans-serif;
  padding: 57.1px;
  width: 100%;
}
.card-outertext{
 text-transform: uppercase;
  font-size: 20px;
  padding: 17px 0px;
}
.cardbox-title{
  color: #a3a2a2;
  font-size: 16px;
}
.continoue-btn{
  background-color: #f3c44e;
  padding: 5px 10px;
}
.continoue-btn:hover{
  background-color: #f3c44e;
  padding: 5px 10px;
}
.program-cards-container {
  @include grid-container();
  @include make-col(12);

  flex: 1 !important;
  max-width: none !important;
  display: block !important;
  padding: 0 8px;

  @include media-breakpoint-up(sm) {
    @include make-col(9);
  }
}

card-box1{
  display: flex;
  background-color: #fff;
    width: 440px;
    border-top-left-radius: 28px;
    border-radius: 28px;
    border-bottom-left-radius: 28px;
}
.widthleft{
  background-color: #629bc8;
    padding: 20px;
    width: 235px;
    border-top-left-radius: 28px;
    border-bottom-right-radius: 28px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 28px
}

.cardarea {
  display: flex;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
}
  .cardarea-left {
  padding: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
  .cardarea-right{
      padding: 20px;
      width: 100%;
  }
  .vcourse-p{
      display: flex;
  }
  .vcourse-p .blank{
      width: 70%;
  }
  .vcourse-p .vcourse{
      width: 30%;
      text-align: right;
  }
  .vcourse-p .btn{
   border: 2px solid #46788f;
   color: #3e9ed1;
  }
  .vcourse-p .btn:hover{
  border: 2px solid #46788f;
   color: #000;
  }

  .vcourse .btn-border{
    border: 1px solid #0d4e6c;
    color: #126f9a;
    background: #ffff;
    /* border-top: 0px; */
    padding: 10px 17px;
    border-radius: 4px;
    text-decoration: none;

    &:hover{
      border: 1px solid transparent;
      background-color: #126f9a;
      color: #ffff !important;
      text-decoration: none !important;
    }
  }

  .program-heading{
    padding: 25px 0px 4px 22px;
    width: 100%;
  }

  .cardarea-right h4{
      color: #3e9ed1; 
      font-weight:400;
  }
  .cardarea-right p{
      color:#767676;
      padding: 0px;
      margin: 0px;
  }
  @media only screen and (max-width: 600px) {
      .vcourse-p, .cardarea{
      display: inline-block;
  }
  .cardarea-left{
      height: auto;
  }
  .vcourse-p .blank{
      width: 100%;
  }
  .vcourse-p .vcourse{
      width: 100%;
  }
  .vcourse-p .blank {
  width: unset!important;
}
.vcourse-p .vcourse {
  width: unset!important;
}
}
 

.sidebar {
  @include make-col(12);
  @include float(right);

  margin-bottom: $baseline;
  padding: 0 8px;

  @include media-breakpoint-up(sm) {
    @include make-col(3);
  }

  .aside {
    padding: $baseline;
    margin-bottom: $baseline;
    box-sizing: border-box;
    border: 1px solid $gray-500;
  }

  .program-advertise {
    clear: both;

    .new-programs-btn {
      width: 100%;
      text-align: center;
      padding: 10px;
      white-space: normal;
      border-color: theme-color("primary");
      color: theme-color("primary");
      font-weight: 600;

      &:hover,
      &:active,
      &:focus {
        background: theme-color("primary");
        color: $white;
      }
    }

    .advertise-message {
      font-size: 0.75rem;
      color: $gray-dark;
      margin-bottom: $baseline;
    }
  }
}

.empty-programs-message {
  @include make-col(12);

  background: $gray-light4;
  border: 3px solid $gray-light3;
  padding: ($baseline*2) 0;
  text-align: center;
  margin-bottom: 20px;

  .hd-3 {
    color: $black;
    margin-bottom: $baseline;
  }
}
