## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%!
from openedx.core.djangolib.js_utils import (
    dump_js_escaped_json, js_escaped_string
)

##self.real_user = getattr(request.user, 'real_user', request.user)
%>

<div class="program-list-wrapper grid-container">
    %if 'program_title' in resume_block:
    <div class="card-outer">
        <h4 class="card-outertext">Recently Accessed Course</h4>
         <div class="card-box">
           <p style="display: inline;" class="program-topics"></p>
           <h5 class="cardbox-title">
                <span>PROGRAM NAME - </span>
                <span>${resume_block['program_title']}</span>
               
            </h5>
           <h3 class="card-text py-3">${resume_block['course_title']}</h3>
   
           <div style="text-align:right" class="vcourse"><a href="${resume_block['resume_block_url']}" class="btn-border">Continue</a></div>
         </div>
       </div>
       %endif
    
    
    <h4 class="program-heading">Your Enrolled programs</h4>
    <!-- <div class="program-cards-container col"></div> -->
    <div class="program-cards-container"></div>
    <!-- <div class="sidebar col col-last"></div> -->
</div>
<script>
    let topicsPTag = $('.program-topics');
    getTagsonload();

    function getTagsonload(){
        let topicHtml = getTags();

        if(topicHtml.length > 140){
            
            topicHtml = topicHtml.substring(0, 140);
            topicHtml += '<span><a onclick="expend()"> read more </a></span>';
        }
        topicsPTag.html(topicHtml);
        console.log(topicHtml.length);

    }

    function getTags(){

        
        let topics = "${resume_block['topics']}";
        topics = topics.replaceAll('&#39;','').split(',');
        let topicHtml = ``;
        $.each( topics, function( key, value ) {
            
            if(key ==0){
                topicHtml += '<span>'+value.split('[')[1] +',</span>'
                // console.log( key + ": " + value.split('[')[1] );
            }
            else if(key >= topics.length-1){
                topicHtml += '<span>'+value.split(']')[0] +'</span>'
                // console.log( key + ": " + value.split(']')[0] );
            }

            else{
                topicHtml += '<span>'+value+',</span>'
                // console.log( key + ": " + value);
            }
            
        });
        

        return topicHtml;
    } 
    

    function expend(){
        let topicHtml = getTags();

        topicHtml += '<span><a onclick="getTagsonload()"> read less </a></span>';
        topicsPTag.html(topicHtml);
        console.log(topicHtml.length);
    }
</script>
<%block name="js_extra">
<%static:webpack entry="ProgramListFactory">
ProgramListFactory({
    marketingUrl: '${marketing_url | n, js_escaped_string}',
    programsData: ${programs | n, dump_js_escaped_json},
    userProgress: ${progress | n, dump_js_escaped_json}
});
</%static:webpack>
</%block>
